<div class="header1">
  <img src="img/banner-slider1.jpg" alt="">
</div>
<div class="container main">
  <div class="tiltle">
    <h2>KHÁM PHÁ THỨC UỐNG</h2>
    
  </div>
  <div id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')"> Show all</button>
    <button class="btn" ng-repeat="i in menu track by $index" ng-click="filterSelection(i)">{{i}}</button>
  </div>
  
  <!-- Portfolio Gallery Grid -->
  <div class="row">
    <div class="column" ng-class="i.loai" class="content__produce" ng-repeat="i in sanpham">
      <div class="item1 content">
        <a ui-sref="chitiet({id:i.id})">
          <!-- <a href="#"> -->
          <img ng-src="{{i.hinh}}" style="width:100%">
        <h3><b>{{i.ten}}</b></h3>
        <p>{{i.gia}}</p>
        </a>
      </div>
    </div>
  <!-- END GRID -->
  </div>
  
  <!-- END MAIN -->
  </div>