<div class="containers">
  <div class="section-header">
    <div class="ccth">
      <img  src="/modules/sp/images/2.png" alt="">
    </div>
  </div>
  <div class="content-space-between">
    <div class="dongchay">
      <img src="/modules/sp/images/4.png" alt="">
    </div>
    <div class="tnsm">
      <h3 class="fade-In-Right">TẦM NHÌN SỨ MỆNH</h3>
      <p>Sự hình thành chuỗi quán cà phê Ông Bầu là hành trình chúng tôi đưa cà phê của mình ra khắp phố phường, khẳng định vị thế và giá trị của cà phê thật trong lòng “tín đồ” uống cà phê Việt Nam. Chúng tôi tìm kiếm đối tác cùng thực hiện sứ mệnh và chia sẻ thành công trong hợp tác. Chúng tôi hy vọng đam mê và nhiệt huyết của mình sẽ truyền cảm hứng cho bạn muốn trở thành một phần của gia đình Ông Bầu.</p>
    </div>
    <div class="cauchuyen">
      <h3 class="block-heading">
        CÂU CHUYỆN
      </h3>
      <p>
        Cà phê Ông Bầu ra đời là sự kết hợp giữa 3 doanh nhân lớn, yêu thích và gắn liền với Bóng Đá Việt Nam là Bầu Đức (HAGL), Bầu Thắng (Đồng Tâm), Bầu Hải (NutiFood). Từ bóng đá sạch đến cà phê thật. Các ông Bầu gặp nhau ở nhiều điểm tương đồng, là đam mê, nhiệt huyết đến khát khao mang tới những giá trị thật cho cuộc sống, có cùng chia sẻ chung một niềm trăn trở… người Việt Nam nhất định phải được uống cà phê sạch, cà phê thật!</p>
    </div>
  </div>
  
</div>