<div class="trangchu" style="background-image: url(img/bg-home-page.png);">
  <img class="leaf_left" src="img/leaf-left.svg">
  <img class="leaf_right" src="img/leaf-right.svg">
  <div class="slogan"><img  src="img/slogan.svg" alt=""></div>
  <div class="tagline"><img  src="img/tagline.svg"></div>

  <div class="content_center">
      <div class="fund_box">
        <div class="title-line-box">Tổng Giá Trị Quỹ</div>
      <div class="text-center">1.090.769.000</div>
      <sup>VND</sup>
      </div>
  </div>
  <!-- <img class="" src="/img/"> -->
</div>