@import 'gridFooter';
#line{
  border-bottom: 4px solid #006400;
  width: 90%;
  margin: auto;
  margin-bottom:25px;
}
.gridFooter{
  display:grid;
  width: 90%;
  line-height:24px;
  
  margin: auto;
  grid-template-columns:repeat(12,1fr);
  grid-template-areas: 
  'ff ff ff ff ff fs fs ft ft fl fl fl';
  .footer-first{
    @include gridFooter(ff, 'ffi1','ffi2');
    .footer-first-inner-1{
      grid-area: ffi1;
    }
    .footer-first-inner-2{
      margin-top: 60px;
      grid-area:ffi2;
    }
  }
  .footer-second{
    @include gridFooter(fs, 'fsi1','fsi2');
    .footer-second-inner-1{
      grid-area: fsi1;
      >a{
        color: black;
        display:block;
        text-decoration: none;
        &:hover{
          color:#006400;
        }
      }
      
    }
    .footer-second-inner-2{
      margin-top: 60px;
      grid-area:fsi2;
      .fb{
        @include footer-second(#3467aa)
      }
      .in{
        @include footer-second(#567daf)
      }
      .tw{
        @include footer-second(#759ed4)
      }
      .yt{
        @include footer-second(#c01f1f)
      }

    }
  }
  .footer-third{
    @include gridFooter(ft, 'fti1','fti2');
    .footer-third-inner-1{
      grid-area: fti1;
    }
    .footer-third-inner-2{
      margin-top: 120px;
      grid-area:fti2;
    }
  }
  .footer-last{
    @include gridFooter(fl, 'fli1','fli2');
    .footer-last-inner-1{
      grid-area: fli1;
    }
    .footer-last-inner-2{
      margin-top:90px;
      grid-area:fli2;
    }
  }
  h2{
    @extend.bold;
    color:#006400;

  }
}


