<div id="line"></div>
<div class="gridFooter">
  <div class="footer-first">
    <div class="footer-first-inner-1">
      <h2>CÔNG TY CỔ PHẦN DU LỊCH BẾN NGHÉ</h2>
      <p><span class="bold">Trụ sở chính:</span> 135 Nguyễn Hữu Cảnh, P. 22, Q. Bình Thạnh, TP. HCM</p>
      <p><span class="bold">Tổng đài:</span> 1800 6857 | Hotline: 0913 873 131</p>
      <p><span class="bold">Email:</span> info@bennghe.vn | MST: 0965885827</p>
      <p><span class="bold">VPĐD:</span> 340 Phan Huy Ích, P. 12, Q. Gò Vấp, TP.HCM</p>
      <p><span class="bold">Tổng đài:</span> 028 7777 1020 | Hotline: 0911 010 061</p>
    </div>
    <div class="footer-first-inner-2">
      <p><span class="bold">Giấy phép LHQT số: 79-744/2017/TCDL-GPLHQT</span></p>
      <p><span class="bold">Số ĐKKD: 0311627724</span> được cấp bởi Sở KHDT TP. HCM</p>
    </div>
  </div>
  <div class="footer-second">
    <div class="footer-second-inner-1">
      <h2>Chứng nhận</h2>
      <a href="#">Chính sách đặt tour</a>
      <a href="#">Chính sách bảo mật</a>
      <a href="#">Ý kiến khách hàng</a>
      <a href="#">Phiếu góp ý</a>
    </div>
    <div class="footer-second-inner-2">
      <h2>Kết nối với chúng tôi</h2>
      <span><i class="fb fab fa-facebook-f"></i></span>
      <span><i class="in fab fa-instagram"></i></span>
      <span><i class="tw fab fa-twitter"></i></span>
      <span><i class="yt fab fa-youtube"></i></span>
    </div>

  </div>
  <div class="footer-third">
    <div class="footer-third-inner-1">
      <h2>Chứng nhận</h2>
      <img src="/public/img/footer/dmca.png" alt="">
    </div>
    <div class="footer-third-inner-2">
      <h2>Chấp nhận thanh toán</h2>
      <img src="/public/img/footer/pay-visa.png" alt="">
    </div>
  </div>
  <div class="footer-last">
    <div class="footer-last-inner-1">
      <h2>Đăng ký nhận thông tin khuyến mãi</h2>
      <p>Nhập email để có cơ hội giảm 50% cho chuyến đi tiếp theo của Quý khách</p>
      <input type="search" placeholder="Email của bạn">
    </div>
    <div class="footer-last-inner-2">
      <h2>Ứng dụng di động</h2>
        <img src="/public/img/footer/appstore.png" alt="">
      
    </div>
  </div>
</div>