<div class="home-page">
  <div class="combo">
    <div class="item1-combo" ng-repeat="i in combo">
      <img ng-src={{i.img}} alt="">
      <p>{{i.name}}</p>
    </div>
  </div>
  <div class="discount">
    <!-- carousel -->
    <div ng-repeat="i in tourName track by $index">
      <div class="title-tourName">
        <h2>{{i.name}}</h2>
        <a href="#">Xem tất cả ></a>
      </div>
      
      <div class="slideshow-container">

        <div class="mySlides{{i.id}} fade1" ng-repeat="item in tourTravelLength track by $index">
          <div class="container-card" ng-if="i.type == 'discount'">
            <div class="card" ng-repeat="c in tourTravel | myLimitTo:3:($index)*3">
              <img class="card-img-top" ng-src={{c.smallImg}}
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{c.name}}</h5>
                <p class="card-text">{{c.price}}</p>
                <a ui-sref="detail({id:c.id})" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
          <div class="container-card" ng-if="i.type !== 'discount'">
            <div class="card" ng-repeat="c in tourTravel | myLimitTo:4:($index)*4">
              <img class="card-img-top" ng-src={{c.smallImg}}
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{c.name}}</h5>
                <p class="card-text">{{c.price}}</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        </div>

        <a class="prev" ng-click="plusSlides(-1,i.id-1)">&#10094;</a>
        <a class="next" ng-click="plusSlides(1,i.id-1)">&#10095;</a>
        
      </div>
      
    </div>
    <!-- ~carousel -->
  </div>
</div>