@import 'carousel';

.home-page {
  .combo {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid thin rgb(155, 155, 155);

    .item1-combo {
      padding: 40px 0;
      text-align: center;

      >img {
        width: 50px;
      }

      >p {
        color: #006400;
        line-height: 40px;
        font-weight: 600;
        word-spacing: 5px;
      }
    }
  }

  .discount {
    width: 90%;
    margin: auto;

    .title-tourName {
      display: flex;
      margin: 35px 0;

      >h2 {
        margin-right: auto;
        color: #f26e21;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.4rem;

      }
    }

    .slideshow-container {
      .fade1 {
        .container-card {
          display: flex;
          

          .card {
            width: 32%;
            margin-left: 20px;
          }
        }
      }
    }
  }
}