@import 'enlarge';

.container-detail {

  padding: 0 60px;

  .title-detail {
    padding: 30px;
    font-size: 2rem;
    font-weight: 600;
    color: #006400;
    font-family: Arial, sans-serif;

  }

  .content-detail-all {
    display: flex;
    justify-content: space-between;

    .content-detail {
      width: 70%;
      padding: 0 20px 0 0;


    }

    .aside-detail {
      width: 30%;
      // border: thin black solid;
      height: 400px;

      // background-color: aqua;
      .name-title-card {
        border: thin rgb(189, 185, 185) solid;
        padding: 15px;
        h2 {
          color: #006400;
          font-weight: 700;
          font-family: Arial, sans-serif;
          line-height: 22px;
          word-spacing: 1px;
        }
        h4 {
          padding:10px 0;
          border-bottom: thin solid thistle;
          b {
            font-weight: 600 !important;
          }
        }

        p{
          padding-top:10px;
          line-height: 22px;
          b{
            font-weight: 600 !important;
          }
        }
      }
      .name-price-card{
        margin-top: 25px;
        .name-phone-card{
        background-color: #006400;
        padding: 15px;
        color: white;
        p{
          b{
            font-weight: 600 !important;
            font-size: 1.5rem;
            vertical-align: middle;
            padding: 0 5px;
          }
          padding: 5px 0px 18px 0px;
        }
        button{
          width:100%;
          color:white;
          background-color:#f26e21;
          border-radius: 10px;
          border: thin #f26e21 solid;
          p{
            padding:10px;

          }
        }
        }
        .card{
          width:100%;
          .list-group-item{
            background-color: #f3f3f3;
            color: rgb(88, 88, 88);
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}