@import 'reset';
*{
  box-sizing: border-box;
}
.borders{
  // border: thin black solid;
  box-shadow: rgb(209, 206, 201) 5px 5px 5px;
  width: 35%;
  margin: 3% 30%;
  box-shadow: inset 0px 0px 14px #7d867d;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(214, 60, 245);
  .output-data{
    width: 95%;
    height: 60px;
    text-align: right;
    margin:20px 15px;
    border-radius: 5px;
    color: rgb(196, 37, 64);
  }
  .line{
    text-align: center;
      button{
    width: 23%;
    height: 45px;
    border-radius:5px;
    border: thin white solid;

    margin-bottom: 1%;
  }
  }

}