<footer>
  <div class="footers">
    <div class="logos">
      <img src="img/logo.png" alt="Logo" width="200px">
    </div>
    <div class="us">
      <p><b>Về chúng tôi</b></p>
      <a href="#">Câu chuyện thương hiệu</a>
      <a href="#">Sản phẩm</a>
      <a href="#">Tin tức</a>
      <a href="#">Cửa hàng</a>
    </div>
    <div class="contact">
      <p><b>Liên hệ</b></p>
      <i style="font-size:24px;  color:#a0830e" class="fa">&#xf10b;</i><span> +84 000 987 000</span><br>
      <i class='fas fa-map-marker-alt' style='font-size:24px ;color:#a0830e;'></i> <span>Tân Phú TP.HCm</span><br>
      <i class='far fa-envelope-open' style='font-size:24px ; color:#a0830e;'></i><span> abc@gmail.com</span>
      </div>
    </div>
</footer>
