
  <header>  
    <div class="navbar">
      <div class="logo">
        <a ui-sref="trangchu"><img src="img/logo.png" alt="Logo" width="130px"></a>
      </div>
      <div class="nav">
        <ul>
          <li><a ui-sref="trangchu">TRANG CHỦ</a></li>
          <li><a ui-sref="cauchuyenthuonghieu">CÂU CHUYỆN THƯƠNG HIỆU</a></li>
          <li><a ui-sref="sanpham">SẢN PHẨM</a></li>
          <li><a ui-sref="giohang">GIỎ HÀNG</a></li>
          <li><a ui-sref="dangky">ĐĂNG KÝ</a></li>
          
        </ul>
        </div>
      </div>
  </header>